div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}

p {
    font-size: 20px;
    margin-left: 10px;
}