p {
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    background-color: #333;
    padding: 10px;
    margin: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
}